.form-main {
  width: 100%;
}
.form-element h6 {
  font-size: 13px;
  color: #06163a;
}
.form-element .form-input {
  width: 100%;
  border-radius: 38px;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-element .form-input input {
  width: 100%;
  border: none;
  outline: 0;
  height: 100%;
  box-sizing: border-box;
}
.form-footer {
  margin-top: 15px;
  border-top: 1px #d9d9d9;
  display: flex;
  justify-content: flex-end;
}
.btn-success {
  background-color: #744bfc;
}
.btn-danger{
    background-color: red;
}
